dataset/raw_data/
dataset/data/cache/
dataset/data/MSCOCOKR/
dataset/data/omniglot/
dataset/data/mini_imagenet/

dataset/data/ui_output/maml/step3/mini_imagenet/*
dataset/data/ui_output/maml/step3/omniglot/*
*.zip
dataset/data/oxfordflower/images/
dataset/data/oxfordflower/pretrained/
dataset/data/oxfordflower/texts/
dataset/data/oxfordflower/tfrecord/
dataset/data/oxfordflower/*.json
*.pkl
*.whl
*.v2
.vscode/
dataset/__pycache__
__pycache__/
model/hetero/model_log/
model/hetero/pretrained/
