dataset/data/.cache/
dataset/data/cache/
dataset/data/MSCOCOKR/*
dataset/data/omniglot/
dataset/data/mini_imagenet/

dataset/data/ui_output/maml/step3/mini_imagenet/*
dataset/data/ui_output/maml/step3/omniglot/*
dataset/data/ui_output/maml/step4/mini_imagenet/*
dataset/data/ui_output/maml/step4/omniglot/*
dataset/data/ui_output/maml/step5/mini_imagenet/*
dataset/data/ui_output/maml/step5/omniglot/*
*.zip
dataset/data/oxfordflower/images/
dataset/data/oxfordflower/pretrained/
dataset/data/oxfordflower/texts/
dataset/data/oxfordflower/tfrecord/
dataset/raw_data/oxfordflower/data.tar.gz
dataset/raw_data/oxfordflower/images
dataset/raw_data/oxfordflower/texts
dataset/raw_data/mini_imagenet/test
dataset/raw_data/mini_imagenet/train
dataset/raw_data/mini_imagenet/val
dataset/raw_data/mini_imagenet/*.tar
dataset/raw_data/omniglot/*

pretrained_maml/

*.pkl
*.whl
*.v2
.vscode/
dataset/__pycache__
__pycache__/
model/hetero/model_log/
model/hetero/pretrained/
